<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/common/canal-landscape-2.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Visit our office</h2>
        <div class="col-md-8">
          <p>Registered Address:</p>
          <p>C90, Sector 65</p>
          <p>Noida, UP - 201301</p>
          <p>Contact: 0120-459 7818</p>
          <br />
          <div class="row">
            <div class="col-md-6">
              <img
                src="./assets/img/common/office-1.jpeg"
                alt=""
                style="height: 20rem"
              />
            </div>
            <div class="col-md-6">
              <img
                src="./assets/img/common/office-2.jpeg"
                alt=""
                style="height: 20rem"
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.6619073864567!2d77.38376043106106!3d28.609917835657846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cefa6b213be33%3A0x27f444ab7bff4282!2sOSS%20construction%20pvt%20limited!5e0!3m2!1sen!2sin!4v1652485562800!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div>
        <a href="https://in.linkedin.com/company/ossconstructionpvtltd"
          ><h6>Follow us on LinkedIn</h6></a
        >
      </div>
    </div>
  </div>
</div>
