<footer class="footer">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-4 px-2">
          <p class="border-bottom">Company Registration</p>
          <p>CIN: U74999DL2015PTC275237</p>
          <p></p>
        </div>
        <div class="col-md-4 px-2">
          <p class="border-bottom">Registered Address:</p>
          <p>C90, Sector-65</p>
          <p>Noida, Uttar Pradesh, 201301</p>
        </div>
        <div class="col-md-4 px-2">
          <p class="border-bottom">Contact</p>
          <div class="row">
            <div class="col-md-6">
              <p>Email:</p>
              <p>Phone:</p>
            </div>
            <div class="col-md-6">
              <p>hr@ossind.com</p>
              <p>0120-459 7818</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>