<div class="image-front">
  <img src="./assets/img/common/office-1.jpeg" alt="pokemon image" />
  <h2>Delivering Quality</h2>
</div>

<br />

<div class="first flex-col">
  <div class="logo">
    <img src="./assets/img/all_astro/greek_medal.png" />
  </div>
  <div class="secret">
    <H2><span> SECRET </span> OF SUCESS OF <SPAN> OUR PROJECTS </SPAN> </H2>
  </div>
  <div class="know">
    <h5>
      OSS Construction and Projects Limited is presently scaling up under the
      unmatched leadership of Mr.Ramesh Kumar, Mr. Vijay Kumar and Mr. Yogesh
      Shrivashtava. We originated to bring a change in everyone's life. OSS is a
      Pvt Limited.
    </h5>
  </div>
</div>
<div class="second flex-col">
  <div class="complete">
    <img src="./assets/img/common/thumbs-up.png" />
    <h3>Projects completed</h3>
    <h4>8+</h4>
  </div>
  <div class="experience">
    <img src="./assets/img/all_astro/opinion.png" />
    <h3>Years of experience</h3>
    <h4>6+</h4>
  </div>
  <div class="clients">
    <img src="./assets/img/all_astro/builder.png" />
    <h3>Happy Clients</h3>
    <h4>5+</h4>
  </div>
</div>

<div class="section-p margin-3d" id="yellow">
  <div class="object-in-3d float-center" id="floater"></div>
  
  <div class="new-one">
    <h3>what we do</h3>
    <p>All the services we provided</p>
  </div>
  <div class="dribble">
    <div class="drib-1">
      <div> <img src="./assets/img/all_astro/building.png"> </div>
      <h5>Infrastructure</h5>
      <p>
        We specialize in crafting robust infrastructure solutions that lay the
        foundation for progress, connecting cities and shaping the landscapes of
        tomorrow.
      </p>
    </div>
    <div class="drib-1">
      <div> <img src="./assets/img/all_astro/house_icon.png"> </div>
      <h5>Residentail Building</h5>
      <p>
        Navigating innovation, our road construction projects blend cutting-edge
        engineering with meticulous attention to detail, ensuring safe and
        efficient journeys.
      </p>
    </div>
    <div class="drib-1">
      <div> <img src="./assets/img/all_astro/road_icon.png"> </div>
      <h5>Road</h5>
      <p>
        Pioneering seamless mobility, our highway construction transforms routes
        into corridors of connectivity, driving economic growth and fostering
        accessibility.
      </p>
    </div>
    <div class="drib-1">
      <div> <img src="./assets/img/all_astro/highway_icon.png"> </div>
      <h5>highway</h5>
      <p>
        Creating living spaces that embody comfort and harmony, our residential
        construction projects redefine modern living, turning dreams into
        beautifully designed realities.
      </p>
    </div>
  </div>
  
</div>
<br />
<div class="boxes">
  <div class="box">
    <img src="./assets/img/all_astro/highway.png" alt="pokemon image" />
    <h5>Industrial</h5>
  </div>
  <div class="box">
    <img src="./assets/img/all_astro/infra.png" alt="pokemon image" />
    <h5>Goverment Infrastructure</h5>
  </div>
  <div class="box">
    <img src="./assets/img/all_astro/residen.png" alt="pokemon image" />
    <h5>Commercial Space</h5>
  </div>
</div>

<br />
<div class="boxes">
  <div class="box">
    <img src="./assets/img/all_astro/crane-blue-sky.jpg" alt="pokemon image" />
    <h5>Health & Leisure</h5>
  </div>
  <div class="box">
    <img src="./assets/img/all_astro/steel_works.png" alt="pokemon image" />
    <h5>Eductional Institute</h5>
  </div>
  <div class="box">
    <img
      src="./assets/img/all_astro/road_properties.webp"
      alt="pokemon image"
    />
    <h5>Special Projects</h5>
  </div>
</div>
<br />
<br />
<div class="valued-clients">
  <div class="valued-clients-slide-show">
    <img src="./assets/img/all_astro/nbcc.png" />
  </div>
  <div class="valued-clients-slide-show">
    <img src="./assets/img/all_astro/nhai_logo.png" />
  </div>
</div>
<br>
<br>
