<img src="./assets/img/all_astro/crane-red-sky_crop.jpg" class="header" />

<br />
<br />
<div class="top-layer">
  <div class="container">
    <img src="./assets/img/all_astro/ramesh-sir.png" class="image" />
    <h5>Director</h5>
    <h6 class="name">Ramesh Kumar</h6>
    <hr />
    <div class="desc">
      Civil Engineer with more than 30 years of experience Talented,
      <br />
      <br />
      proactive, technically oriented construction management professional with
      sound technical and managerial skills.
      <br />
      <br />
      Has lead several large scale construction project while working as
      Business Head in ERA Infra Engineering Ltd. since 2011 including two
      national highway projects on Design, Build, Finance, Operate and Transfer
      (DBFOT) Basis
      <br />
      <br />
      Expertise lies in Planning, organizing, managing and control direct
      manpower and other resources in the execution with effective manpower
      productivity .
    </div>
  </div>
  <div class="container">
    <img src="./assets/img/all_astro/vijay-sir.png" class="image" />
    <h5>Director</h5>
    <h6 class="name">Vijay Kumar</h6>
    <hr />
    <div class="desc">
      Civil Engineer with more than 30 years of experience in planning,
      executing and spearheading construction projects involving Method
      engineering with a flair for adopting modern construction methodologies in
      compliance to high quality standard.
      <br />
      <br />
      Previously has also worked as an active member of Era Group whose turnover
      has increased from 25 crore to 4000 crore within a span of 18 years
      wherein he was awarded employee of the year four times.
      <br />
      <br />
      Well known for fast track construction without any compromise with quality
      and safety within Cost.
    </div>
  </div>
  <div class="container">
    <img src="./assets/img/all_astro/yogesh-sir.png" class="image" />
    <h5>Director</h5>
    <h6 class="name">Yogesh shrivashtva</h6>
    <hr />
    <div class="desc">
      With over 20 years of experience in architectural design, project planning
      and execution, his vast experience includes all aspects of Design to
      Management.
      <br />
      <br />
      Prior to converting his vision into OSS, He has worked in Synergy Property
      Development Services Pvt. Ltd. for more than 11 years and was responsible
      for establishing and successfully running Synergy’s design division in
      North India Has exceptional skills and experience in steering planning and
      coordinating
      <br />
      <br />
      projects of various natures and is well known for excellent public
      relations, problem solving, astute analysis of project and leadership
      skills,.
    </div>
  </div>
</div>

<br />
<div class="top-layer">
  <div class="container">
    <img src="./assets/img/all_astro/punet-sir.png" class="image" />
    <h5>Director</h5>
    <h6 class="name">Yogesh shrivashtva</h6>
    <hr />
    <div class="desc">
      With over 20 years of experience in architectural design, project planning
      and execution, his vast experience includes all aspects of Design to
      Management.
      <br />
      <br />
      Prior to converting his vision into OSS, He has worked in Synergy Property
      Development Services Pvt. Ltd. for more than 11 years and was responsible
      for establishing and successfully running Synergy’s design division in
      North India Has exceptional skills and experience in steering planning and
      coordinating
      <br />
      <br />
      projects of various natures and is well known for excellent public
      relations, problem solving, astute analysis of project and leadership
      skills,.
    </div>
  </div>
  <div class="container">
    <img src="./assets/img/all_astro/hn-singh-sir.png" class="image" />
    <h5>Director</h5>
    <h6 class="name">Yogesh shrivashtva</h6>
    <hr />
    <div class="desc">
      With over 20 years of experience in architectural design, project planning
      and execution, his vast experience includes all aspects of Design to
      Management.
      <br />
      <br />
      Prior to converting his vision into OSS, He has worked in Synergy Property
      Development Services Pvt. Ltd. for more than 11 years and was responsible
      for establishing and successfully running Synergy’s design division in
      North India Has exceptional skills and experience in steering planning and
      coordinating
      <br />
      <br />
      projects of various natures and is well known for excellent public
      relations, problem solving, astute analysis of project and leadership
      skills,.
    </div>
  </div>
  <div class="container">
    <img src="./assets/img/all_astro/ranbir.png" class="image" />
    <h5>Director</h5>
    <h6 class="name">Yogesh shrivashtva</h6>
    <hr />
    <div class="desc">
      With over 20 years of experience in architectural design, project planning
      and execution, his vast experience includes all aspects of Design to
      Management.
      <br />
      <br />
      Prior to converting his vision into OSS, He has worked in Synergy Property
      Development Services Pvt. Ltd. for more than 11 years and was responsible
      for establishing and successfully running Synergy’s design division in
      North India Has exceptional skills and experience in steering planning and
      coordinating
      <br />
      <br />
      projects of various natures and is well known for excellent public
      relations, problem solving, astute analysis of project and leadership
      skills,.
    </div>
  </div>
</div>
<br />
<br />
