.head-image > img {
  height: 21rem;
  width: 100%;
  margin: auto;
}
.head-image {
  width: 98%;
  margin: auto;
  overflow: hidden;
  height: 21rem;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 26rem;
  height: 22rem;
  border: 1px solid rgba(128, 128, 128, 0.411);
  margin-right: 17px;
}

.image-container img {
  display: block;
  width: 26rem;
  height: 17rem;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 26rem;
  height: 17rem;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}
.image-container:hover{
  box-shadow: 0 3px 4px gray;
}

.overlay-text {
  position: absolute;
  color: white;
  text-align: left;

  font-size: 16px;
  margin-left: 6px;
}

.container {
  display: flex;
  // justify-content: start;
}
.key {
  color: rgb(161, 154, 154);
  font-size: 17px;
  margin-top: 13px;
}
.value {
  margin-top: -7px;
  font-size: 19px;
  margin-bottom: 7px;
}
.project-name {
  margin-left: 6px;
  margin-top: 7px;
  font-size: 18px;
  color: black;
  // background-color: blue;
}

.project-place {
  font-family: sans-serif;
  font-size: 11px;
  margin-left: 7px;
  margin-top: -28px;
  // background-color: seagreen;
}

.project-desc {
  width: fit-content;
  // background-color: rgba(65, 105, 225, 0.507);
  background-color: #f7f7f7;
  padding-left: 15px;
  padding-right: 15px;
  // border-radius: 19px;
  margin: auto;
  // border: 1px solid black;
  color: black;
}
.tri {
  // border: 2px solid black;
  height: fit-content;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  transform: translate(0, -2.6rem);
}

.t {
  height: 0;
  width: 0;
  border-left: 2.5rem solid transparent;
  border-bottom: 2.5rem solid white;
  border-right: 2.5rem solid transparent;
}
