<br>
<div class="head-image">
  <img src="./assets/img/all_astro/crane-red-sky_crop.jpg" />
</div>

<br />
<h3 class="project-desc">COMPLETED</h3>
<br>
<div class="container">
  <div class="image-container">
    <img src="./assets/img/all_astro/trillium-mall.jpg" alt="Image" />
    <p class="project-name">TRILLIUM MALL</p>
    <br />
    <p class="project-place">Nagpur</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">71.18 Cr.</p>
        <p class="key">Area</p>
        <p class="value">652,000 Sq ft</p>
        <p class="key">Project Status</p>
        <p class="value">Completed, June 2018</p>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="./assets/img/all_astro/township.png" alt="Image" />
    <p class="project-name">KTPS TOWNSHIP</p>
    <br />
    <p class="project-place">KODERMA JHARKHAND</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">50.44 Cr.</p>
        <p class="key">Area</p>
        <p class="value">252,000 Sq ft</p>
        <p class="key">Project Status</p>
        <p class="value">Completed, September 2019</p>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="./assets/img/all_astro/kosi-river.png" alt="Image" />
    <p class="project-name">BARRAGE ON KOSI RIVER</p>
    <br />
    <p class="project-place">RAMPUR , UTTAR PRADESH</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">15.18 Cr.</p>
        <!-- <p class="key">Area</p>
        <p class="value">652,000 Sq ft</p> -->
        <p class="key">Project Status</p>
        <p class="value">Completed, Jan 2019</p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="image-container">
    <img src="./assets/img/all_astro/project_4.jpeg" alt="Image" />
    <p class="project-name">RBC CANAL CHANDRAPUR</p>
    <br />
    <p class="project-place">MAHARASHTRA</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">150.53 Cr.</p>
        <p class="key">Client</p>
        <p class="value">Punj Llyd Ltd.</p>
        <p class="key">Project Status</p>
        <p class="value">Completed, June 2023</p>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="./assets/img/all_astro/wadala-branch.png" alt="Image" />
    <p class="project-name">WADALA BRANCH CABNAL</p>
    <br />
    <p class="project-place">CHNADRAPUR MAHARASHTRA</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">206.94 Cr.</p>
        <p class="key">Client</p>
        <p class="value">NBCC</p>
        <p class="key">Project Status</p>
        <p class="value">Completed, June 2023</p>
      </div>
    </div>
  </div>
</div>
<br>
<h3 class="project-desc">ONGOING</h3>
<br>
<div class="container">
  <div class="image-container">
    <img src="./assets/img/all_astro/project_3.jpeg" alt="Image" />
    <p class="project-name">FACULITY APPARTMENT, IIT-BHU</p>
    <br />
    <p class="project-place">VARANSHI, UTTAR PRADESH</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">31.25 Cr.</p>
        <p class="key">Client</p>
        <p class="value">NBCC</p>
        <p class="key">Project Status</p>
        <p class="value">94% Completed</p>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="./assets/img/all_astro/crane-red-sky.jpg" alt="Image" />
    <p class="project-name">PHASE-A WORKS AT JNV PALAMU-2</p>
    <br />
    <p class="project-place">PALAMU JHARKHAND</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">26.90 Cr.</p>
        <p class="key">Client</p>
        <p class="value">HINDUSTAN STEELWORKS CONSTRUCTION LIMITED</p>
        <p class="key">Project Status</p>
        <p class="value">91.00%, Completed</p>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="./assets/img/all_astro/crane-red-sky.jpg" alt="Image" />
    <p class="project-name">2-LANE EXISTING BYPASS OF RAMPUR TO BE 4-LANE</p>
    <br />
    <p class="project-place">RAMPUR , UTTAR PRADESH</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">189.91 Cr.</p>
        <p class="key">Client</p>
        <p class="value">NHAI</p>
        <p class="key">Project Status</p>
        <p class="value">21.00% ,Completed</p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="image-container">
    <img src="./assets/img/all_astro/crane-red-sky.jpg" alt="Image" />
    <p class="project-name">
      Four Lanning of Karwar (Km 281.980 of NH 62 Nagaur road) to Dangiyavas
      section
    </p>
    <br />
    <p class="project-place">JODHPUR, RAJSTHAN</p>
    <div class="overlay">
      <div class="overlay-text">
        <p class="key">Total Cost</p>
        <p class="value">298.78 Cr.</p>
        <p class="key">Client</p>
        <p class="value">NHAI</p>
        <p class="key">Project Status</p>
        <p class="value">34% Completed</p>
      </div>
    </div>
  </div>
</div>


